################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Sshhh.Web/bin/Debug/netcoreapp3.1
/src/Sshhh.Web/obj
