@page
@model IndexModel
@{
    ViewData["Title"] = "EXD is the best!";
}

<div class="d-flex justify-content-center align-items-center min-vh-100">
    <section class="text-center h-100 container">
        <header class="m-2 mb-5">
            <h3 class="font-weight-bold pb-2">Channel Sshhh - EXD</h3>
            <p>This is only for <strong>WOSHU GAMERS</strong><br /> Enter current channel(required for muting users), and afk channel</p>
        </header>
        <form method="post" asp-page="Index">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <a href="https://support.discord.com/hc/en-us/articles/206346498-Where-can-I-find-my-User-Server-Message-ID-">
                        <small>
                            how to find server id
                        </small>
                    </a>
                    <input type="text" class="form-control" placeholder="Server Id" asp-for="@Model.Input.ServerId">
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" placeholder="From Channel" asp-for="@Model.Input.From">
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" placeholder="To Channel" asp-for="@Model.Input.To">
                </div>

                <input type="hidden" class="form-control" id="mute_hidden" asp-for="@Model.Input.Mute" value="True">
            </div>
            <div class="form-group">
                <button type="submit" asp-page-handler="Move" class="btn-red btn btn-lg btn-danger m-2">
                    <h3>
                        <i class="fas fa-arrows-alt"></i>
                    </h3>
                    Move
                </button>
                <button type="submit" class="btn-red btn btn-lg btn-danger m-2" asp-page-handler="MoveSwap">
                    <h3>
                        <i class="fas fa-exchange-alt"></i>
                    </h3>
                    Swap
                </button>
                <button type="submit" asp-page-handler="MuteUsers" class="btn-red btn btn-lg btn-danger m-2">
                    <h3>
                        <i class="fas fa-volume-mute"></i>
                    </h3>
                    Mute
                </button>
                <button type="submit" asp-page-handler="UnMuteUsers" class="btn-red btn btn-lg btn-danger m-2">
                    <h3>
                        <i class="fas fa-volume-up"></i>
                    </h3>
                    UnMute
                </button>

                <button type="submit" asp-page-handler="ClearLogs" class="btn-red btn btn-lg btn-danger m-2">
                    <h3>
                        <i class="fas fa-comment-slash"></i>
                    </h3>
                    Clear Logs
                </button>
            </div>
        </form>
    </section>
</div>
