@page "/"
<section class="container-fluid mt-5">

    <h1>Welcome to Sshhh Discord</h1>
    <small>by Edmel Ricahuerta aka <strong>EXD</strong></small>
    <p class="mt-5 font-weight-bold">This project is built and intended to be use for discord only.</p>
    <p>
        I built this web application for the purpose of muting my load friends on discord during game time on <a href="https://store.steampowered.com/app/945360/Among_Us/">AMONG US</a>.
        <br />
    </p>
    <p>For the tech people...</p>
    <ul>
        <li>.NET Core</li>
        <li>.NET Core Blazor WASM</li>
        <li>Discord.NET</li>
        <li>.NET Core Web API</li>
        <li>Bootstrap 4</li>
    </ul>
</section>
